<%-include('./include/head')%>
    <link rel="stylesheet" type="text/css" href="./css/styleBuscaPc.css">
    <section>
        <%-include('./include/navBar')%>
            <h1 class="text-center "> Busca de unidade
            </h1>
            <div>
                <form class="form-busca" action="/buscaunidadeBanco" method="post">
                    <input type="hidden" name="_csrf" value=<%=csrfToken%>>
                    <input type="text" name="busca" id="busca" placeholder="busca de unidade">
                    <button class="button" type="submit"><img class="img-button"
                            src="./include/img/pesquisa.svg"></button>
                </form>
            </div>
            <div class="traco"></div>
                <div class="ajust">
                    <%-include('include/messages');%>
                    <%if(unidades.length>0){%>
                    <div class="resultado">                        
                            <div class="box">
                                <table>
                                    <tbody>
                                        <%unidades.forEach(unidade=>{%>
                                            <tr>
                                                <td>
                                                    <p>
                                                        <%=unidade.telefone%>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p>
                                                        <%=unidade.unidade%>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p>
                                                        <%=unidade.responsavel%>
                                                    </p>
                                                </td>
                                                <td>
                                                    <div class="box">
                                                        <button class="cadastra"><a href="/cadastrounidade/delete/<%=unidade._id%>"><img class="button-img"
                                                                    src="./include/img/delete.png"></a></button>
                                                        <button class="edit"><a href="/cadastrounidade/edit/<%=unidade._id%>"><img class="button-img"
                                                                    src="./include/img/escrever.svg"></a></button>
                                                        <button class="cadastra"><a href="/cadastrodeservico/<%=unidade.id%>"><img
                                                                    class="button-img"
                                                                    src="./include/img/registro.svg"></a></button>
                                                        <button class="listagem"><a href="/listagemunidade/<%=unidade.id%>"><img
                                                                    class="button-img"
                                                                    src="./include/img/lista-de-tarefas.svg"></a></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <%})%>
                                            <%}else if(unidades.length === 0){%>
                                                <tr>
                                                    <td>
                                                        <p class="p">Unidade não encontrado</p>
                                                    </td>
                                                </tr>
                                            <%}else{%>
                                                <tr>
                                                    <td>
                                                        <p class="p">Digite a unidade que deseja procurar</p>
                                                    </td>
                                                </tr>
                                                <%}%>
                                    </tbody>
                                </table>
                          </div>
                     </div>
                     <div class="box">
                        <button class="adicionar"><a href="/cadastrounidade">+ Cadastro</a></button>
                    </div>
                </div>  
                <%-include('./include/barraLateral')%>
    </section>

    <%-include('./include/footer')%>