<%-include('./include/head')%>
    <link rel="stylesheet" type="text/css" href="./css/styleBuscaPc.css">
     <script src="./javascript/busca.js"></script>
    <section>
        <%-include('./include/navBar')%>
            <h1 class="text-center "> Busca de tombo
            </h1>
            <div>
                <form class="form-busca">
                    <input type="text" name="busca" id="busca" placeholder="busca pelo tombo">
                    <button class="button" type="submit"><img class="img-button" src="./include/img/pesquisa.svg"></button>
                </form>
            </div>
            <div class="traco"></div>
            <div class="ajust">                
                <%if(equipamentos.length >0){%>
                <div class="resultado">  
                    <%-include('include/messages');%>                  
                    <div class="box">
                        <table>
                            
                            <tbody>
                                <%equipamentos.forEach(equipamento=>{%>
                                <tr>
                                    <td>
                                        <p><%=equipamento.tombo%></p>
                                    </td>
                                    <td>
                                        <p><%=equipamento.unidade%></p>
                                    </td>
                                    <td>
                                        <p><%=equipamento.responsavel%></p>
                                    </td>
                                    <td>
                                        <div class="box">
                                            <button class="cadastra"><a href="/cadastrocomputador/delete/<%=equipamento.id%>"><img class="button-img" src="./include/img/delete.png"></a></button>
                                            <button class="edit"><a href="/cadastrocomputador/edit/<%=equipamento.id%>"><img class="button-img" src="./include/img/escrever.svg"></a></button>
                                            <button class="cadastra"><a href="/cadastrodeequipamento/<%=equipamento.id%>"><img class="button-img" src="./include/img/registro.svg"></a></button>
                                            <button class="listagem"><a href="/listagemcomputador/<%=equipamento.id%>"><img class="button-img" src="./include/img/lista-de-tarefas.svg"></a></button>
                                        </div>
                                    </td>
                                </tr>
                                <%})%>
                            </tbody>                       
                            <tfoot>
                                <%}else{%>
                                <tr>
                                    <td>
                                        <p class="text-center"> Não existe equipamento cadastrado</p>
                                    </td>
                                    <%}%>
                                    <td>
                                        <div class="box">
                                            <a href="/cadastrocomputador"><button class="adicionar">+ Cadastro</button></a>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>                                     
                    </div>                    
                </div>
            </div>
            <%-include('./include/barraLateral')%>
    </section>

    <%-include('./include/footer')%>