<%-include('./include/head')%>
<link rel="stylesheet" type="text/css" href="./css/styleListagem.css">
<%-include('./include/navBar')%>
<div class="impressao">
    <div class="img-div">
        <img src="./img/iconLogo.png" class="img">
        <p class="p">Protocolo de saida(GMCR)</p>
        <p class="espaco">N° de O.S:<%=servico.numero%></p>

    </div>
    <div class="traco"></div>

    <div class="pag-impressao">
        <div class="form-group  ">
            <p class="informacao ">Telefone: </p>
            <p class="informacao">
                <%=servico.telefone%>
            </p>
        </div>
        <div class="form-group ">
            <p class="informacao">Unidade: </p>
            <p class="informacao">
                <%=servico.unidade%>
            </p>
        </div>
        <div class="form-group ">
            <p class="informacao">Responsável: </p>
            <p class="informacao ">
                <%=servico.responsavel%>
            </p>
        </div>

        <div class="form-group fundo ">
            <p class="informacao">Tombo:</p>
            <p class="informacao">
                <%=servico.tombo%>
            </p>
        </div>
        <div class="form-group fundo ">
            <p class="informacao">backup: </p>
            <p class="informacao">
                <%=servico.backup%>
            </p>
        </div>
        <div class="form-group fundo ">
            <p class="informacao">Tipo de serviço:</p>
            <p class="informacao ">
                <%=servico.tipo%>
            </p>
        </div>
        <div class="form-group ">
            <p class="informacao">Solução: </p>
            <p class="informacao ">
                <%=servico.solucao%>
            </p>
        </div>
        <div class="form-group ">
            <p class="informacao">data de entrada:</p>
            <p class="informacao">
                <%=servico.dataInicial%>
            </p>
        </div>
        <div class="form-group ">
            <p class="informacao"> data de saida:</p>
            <p class="informacao ">
                <%=servico.dataFinal%>
            </p>
        </div>
        <div class="form-espaco">

        </div>

        <div class="form-group ">
            <h3 class="informacao">Observação
                <h3>
                    <textarea class="input-form" id="observacao" disabled name="observacao" cols="30"
                        rows="10"><%=servico.observacao%> </textarea>
        </div>


        <div class="form-group reponsavel">
            <h1 class="titulo"> SAIDA: </h1>
            <p class="informacao reponsavel "> responsável do NTI: Paulo Amorim</p>
            <p class="informacao  responsavel">assinatura:___________________</p>
        </div>

        <button class="button-imprimir" onClick="window.print()">imprimir</button>
    </div>
</div>
<%-include('./include/barraLateral')%>

<%-include('./include/footer')%>
