<%-include('./include/head')%>
<link rel="stylesheet" type="text/css" href="./css/styleListagem.css">
    <section>
        <%-include('./include/navBar')%>
                <h1 class="text-center ">
                    Tombo: <%=equipamento.tombo%>       
                </h1>
                <div>
                    <form class="form-busca">
                        <input type="text" name="busca" id="busca" placeholder="busca pelo tombo">
                        <button class="button" type="submit"><img class="img-button"
                                src="./img/pesquisa.svg"></button>
                    </form>
                </div>
                <div class="traco-busca"></div>
                <div class="ajust">
                    <%-include('include/messages');%>
                    <%if(servicos.length>0){%>
                        
                                <table>                                    
                                        <tbody>
                                            <%servicos.forEach(servico=>{%>
                                            <tr>
                                                <td>
                                                    <p>
                                                        <%=servico.tombo%>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p>
                                                        <%=servico.dataInicial%>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p>
                                                        <%=servico.dataFinal%>
                                                    </p>
                                                </td>
                                                <td>
                                                    <div class="box">
                                                        <button class="cadastra"><a href="/listagemcomputador/delete/<%=servico.id%>"><img class="button-img"
                                                            src="./img/delete.png"></a></button>
                                                        <button class="edit"><a
                                                                href="/cadastrodeequipamento/edit/<%=servico.id%>"><img class="button-img"
                                                                    src="./img/escrever.svg"></a></button>
                                                        <button class="cadastra"><a href="/impressao/<%=servico.id%>"><img class="button-img"
                                                            src="./img/impressora.svg"></a></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <%})%>
                                        </tbody>                                        
                                            <tfoot>
                                                <tr>
                                                    <%}else{%>
                                                <tr>
                                                    <td>
                                                        <p class="text-nao-existe"> Não existe equipamento cadastrado</p>
                                                    </td>
                                                <tr>
                                                    <%}%>

                                                        <td>
                                                            <div class="box">
                                                                      <a href="/cadastrodeequipamento/<%=equipamento.id%>"><button
                                                                        class="adicionar"> +Nova
                                                                        ordem</button></a>
                                                                                                                                       
                                                            </div>
                                                        </td>
                                                </tr>
                                            </tfoot>
                                </table>

                            

                        
                </div>

                </div>
    </section>
    <%-include('./include/barraLateral')%>

        <%-include('./include/footer')%>