<%-include('./include/head')%>
    <link rel="stylesheet" type="text/css" href="css/styleLogin.css">
    <style></style>
    <input id="closeCadastro" class="closeCadastro" type="checkbox" role="button">
    <div class="fundo">
        <div class="cadastro">
            <form action="/cadastro" class="formCadastro" method="POST">

                <p class="close" onclick="getElementById('closeCadastro').checked = false">×</p>
                <input type="hidden" name="_csrf" value=<%=csrfToken%>>
                <input type="text" class="form-control" placeholder="nome de usuário" id="nome" name="nome">
                <input type="email" class="form-control" placeholder="Email" id="email" name="email">
                <input type="password" class="form-control" id="password" placeholder="senha" name="password">
                <input type="password" class="form-control" id="password2" placeholder="confirma senha" name="password2">
                <button type="submit" class="buttonCadastro">Cadastro</button>
            </form>
        </div>
    </div>
    
        <section class="sencao">

            <div>
                <img class="img" title="logo do nti" src="./include/img/paulo.png">
            </div>
            <div class="login">

                <form action="/login" class="formCadastro" method="POST">
                   
                    <input type="hidden" name="_csrf" value=<%=csrfToken%>>
                    <input type="email" class="form-control margin" placeholder="Email" id="email" name="email">
                    <input type="password" class="form-control" id="password" placeholder="senha" name="password">
                    <button type="submit" class="buttonLogin">Login</button>
                    <div class="traco"></div>
                    <input type="button" class="buttonCadastro" onclick="getElementById('closeCadastro').checked = true;" value="Cadastro">
                    <%-include('include/messages');%>
                </form>
            </div>
        </section>


        <%-include('./include/footer')%>