<%-include('./include/head')%>
    <link rel="stylesheet" type="text/css" href="./css/styleServicoPc.css">
    <section>
        <%-include('./include/navBar')%>
            <%-include('include/messages');%>
                <div class="folha">
                    <h1 class="text-center "> Cadastro de serviços de equipamento
                    </h1>
                    <div class="grid-form">
                        <form action="/registro/servico" method="POST">
                            <input type="hidden" name="_csrf" value=<%=csrfToken%>>
                            <fieldset class="form-contact">
                                <div class="form-group">
                                    <label class="label-form" for="telefone">Telefone</label>
                                    <input class="input-form" id="telefone" name="telefone" type="tel" placeholder="(77) 3333-3333" value="<%=equipamento.telefone%>">
                                </div>
                                <div class="form-group">
                                    <label class="label-form" for="unidade">Unidade</label>
                                    <input class="input-form" id="unidade" name="unidade" type="text" placeholder="nome da unidade" value="<%=equipamento.unidade%>">
                                </div>
                                <div class="form-group">
                                    <label class="label-form" for="responsavel">Responsável</label>
                                    <input class="input-form" id="responsavel" name="responsavel" type="text" placeholder="nome do Responsável" value="<%=equipamento.responsavel%>">
                                </div>
                                <div class="form-group">
                                    <label class="label-form" for="tombo">Tombo</label>
                                    <input class="input-form" id="tombo" name="tombo" type="text" placeholder="13545357" value="<%=equipamento.tombo%>">
                                </div>
                                <div class="form-group">
                                    <label class="label-form" for="tipo">Tipo de serviço</label>
                                    <select class="input-form" name="tipo" id="tipo">
                                    <option value=""></option>
                                    <option value="Formatação">Formatação</option>
                                    <option value="Ponto De Rede">Ponto de Rede</option>
                                    <option value="Reparos\Configuração">Reparos/ Configuração</option>
                                  </select>

                                </div>

                                <div class="form-group">
                                    <label class="label-form" for="backup">Backup</label>
                                    <select class="input-form" name="backup" id="backup">
                                    <option value=""></option>
                                    <option value="sim">sim</option>
                                    <option value="não">não</option>

                                  </select>
                                </div>
                                <div class="form-group">
                                    <label class="label-form" for="data-inicial">data de entrada</label>
                                    <input class="input-form" id="data-inicial" name="dataInicial" type="date">
                                </div>
                                <div class="form-group">
                                    <label class="label-form" for="data-final">data de saida</label>
                                    <input class="input-form" id="data-final" name="dataFinal" type="date">
                                </div>
                                <div class="form-group">
                                    <label class="label-form" for="solucao">Solução(opcional)</label>
                                    <input class="input-form" id="solucao" name="solucao" type="text" placeholder="solução">
                                </div>
                                <div class="form-espaco">

                                </div>

                                <div class="form-group">
                                    <label class="label-form" for="observacao">Observação</label>
                                    <textarea class="input-form" id="observacao" name="observacao" cols="30" rows="10"> </textarea>
                                </div>


                                <button class="button" type="submit"><img class="button-img"  src="./img/salvar.svg"></button>
                            </fieldset>
                        </form>

                    </div>
                </div>
                <%-include('./include/barraLateral')%>
    </section>

    <%-include('./include/footer')%>